.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #0099FF;
}

#header-menu-link {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #0099FF;
}