#landing-menu {
  background-color: #E5E5E5;
  border: none;
  border-radius: 0;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #0099FF;
}

.landing-section-header {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: #0099FF;
}

.landing-section-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #0099FF;
}

.landing-section {
  background-color: #E5E5E5;
}

.landing-menu-login {
  font-size: 20px;
}